*{
    font-size: 100%;
}
.navbar {
    box-shadow: 0px 3px 26px -3px rgba(0,0,0,0.39);
    background-color: #0E185F;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 2.5vw;
    align-items: center;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 99999;
}

.navbar .logo {
    width: 20%;
}

.navbar .logo img {
    max-width: 100%;
}

/* search */
.navbar .search {
    width: 40vw;
    display: flex;
    box-sizing: border-box;
}

.navbar .search input{
    width: 100%;
    background-color: #132C77;
    font-size: 15px;
    border: none;
    border-radius: 40px;
    padding: 10px 0px 10px 15px;
    transition: .3s ease-in-out;
}

.navbar .search input:focus{
    outline: none;
    background-color: #eeeeee;
}

.navbar .search a {
    max-width: 25px;
    margin-left: 10px;
}
/* End search */

/* link*/
.navbar .link .main{
    width: 100%;
    display: flex;
}

.navbar .link .main .sub{
    position: relative;
    padding: .5vw .5vw;
    background-color: rgba(255, 255, 255, 0);
    transition: .3s ease-in-out;
}

.navbar .link .main .sub a{
    text-decoration: none;
    color: #eeeeee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.navbar .link .main .drop{
    width: 100%;
    display: none;
    left: 0;
    margin-top: 5px;
    position: absolute;
    background-color: #eeeeee;
    text-align: center;
    overflow: hidden;
    z-index: 2;
}

.navbar .link .main .drop li {
    text-align: center;
    box-sizing: border-box;
    padding: .5vw;
}

.navbar .link .main .drop li a{
    text-align: center;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    box-sizing: border-box;
}

.navbar .link .main .sub:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #0E185F;
    padding: .5vw 1.7vw;
}

.navbar .link .main .sub:hover .drop{
    display: block;
}

.navbar .link .main .sub:hover a{
    color: #0E185F;
}

.navbar .link .main .drop li:hover {
    background-color: rgb(228, 228, 228);
}

.side-button {
    display: flex;
    align-items: center;
}

.open-side {
    cursor: pointer;
    display: none;
}

.side-button .side-search {
    display: flex;  
    align-items: center;
    margin-right: 13px;
    position: relative;
}

/* End of Link */

/* SideBar */

.side-bar{
    width: 0;
    height: 100%;
    position: fixed;
    z-index: 2;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 0;
    right: 0;
    background-color: #f5f5f5;
    font-size: 100%;
    transition: .5s;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
}

.side-bar .close-btn {
    position: absolute;
    top: 30px;
    left: 20px;
}

.side-main{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 60px;
}

.side-main .side-sub {
    width: 100%;
    padding: 20px 20px 20px 25px;
    position: relative;
}

.side-main .side-search {
    width: 100%;
    margin: 10px 0 10px 1vw;
    padding: 10px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.side-bar .side-main .side-search input {
    width: 80%;
    background-color: #fff;
    font-size: 15px;
    border: none;
    margin-right: 6px;
    border: 1px solid #0E185F;
    padding: 7px 5px 7px 15px;
    transition: .3s ease-in-out;
}

.side-bar .side-main .side-search input:focus {
    outline: none;
}

.side-main .side-sub a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em*.25;
    font-weight: 500;
    color: #0E185F;
}

.side-main .side-sub:hover {
    background-color: #0E185F;
}

.side-main .side-sub:hover #a-sub{
    color: #fff;
}

.side-main .side-sub:hover #a-sub:visited{
    color: #fff;
}

.side-main .side-drop {
    background-color: rgb(231, 231, 231);
    position: relative;
    width: 100%;
    height: 0;
    left: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.side-main .side-drop li {
    padding: 15px 15px 15px 40px;
}

.side-main .side-drop li:hover {
    background-color: #d8d8d8;
}

.side-main .side-drop li a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em*.25;
    font-weight: 500;
    color: #0E185F;
}

/* Carousel */
.carousel {
    height: 38vw;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.carousel .slider {
    position: absolute;
    max-width: 1920px;
    max-height: 1080px;
    transition: .5s cubic-bezier(.57,.33,.56,.51);
}

.carousel .slider img {
    width: 100%;
    max-height: 100%;
}

.btn-prev {
    cursor: pointer;
    opacity: 0%;
    position: absolute;
    top: 45%;
    left: -5%;
    transition: .3s ease-in-out;
    filter: drop-shadow(0px 0px 8px rgba(14, 24, 95,.5));
}

.btn-next {
    cursor: pointer;
    opacity: 0%;
    position: absolute;
    top: 45%;
    right: -5%;
    transition: .3s ease-in-out;
    filter: drop-shadow(0px 0px 8px rgba(14, 24, 95,.5));
}

.carousel:hover .btn-prev {
    opacity: 100%;
    left: .5%;
}

.carousel:hover .btn-next {
    opacity: 100%;
    right: .5%;
}

.dots {
    margin-top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

}

.dot {
    margin: 0 5px;
    width: 10px;
    height: 10px;
    background-color: #e6e6e6;
    border-radius: 50%;
}

.dot:hover {
    background-color: #0E185F;
    transition: .3s ease-in-out;
}

.dot-active {
    width: 13px;
    height: 13px;
    background-color: #0E185F;
    transition: .5s cubic-bezier(.57,.33,.56,.51);
}
/* End Carousel */

/* Content */
.container {
    margin-top: 6vw;
    margin-bottom: 50px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}
.container .content {
    width: 90%;
    font-size: 100%;
    margin-top: 90px;
}

.container .content .heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 2%;
}

.container .content .heading h3 {
    text-align: center;
    padding: 10px 20px;
    background-color: #FFC21A;
    color: #0E185F;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    box-shadow: 10px 10px 0 #A6C9E5;
}

.container .content .heading a {
    text-decoration: none;
    font-size: 15px;
    background-color: #fff;
    color: #0E185F;
    border: 2px solid #0E185F;
    border-radius: 30px;
    padding: 5px 15px 5px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: .3s;
}

.container .content .heading a:hover {
    background-color: #0E185F;
    color: #fff;
}

.container .content a:visited {
    color: #fff;
    color: #0E185F;
}

/* NewsContent */
.container .content .news {
    position: relative;
    margin-top: 30px;
    margin-left: -.7%;
    padding-left: 2%;
    padding-right: 0%;
    width: 100%;
    height: 40vh;
    overflow-x: hidden;
}

.container .content .news .news-prev {
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: .25%;
    z-index: 9;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0E185F;
    transition: .3s;
}

.container .content .news .news-prev:active {
    transform: scale(.8);
    filter: brightness(80%);
}

.container .content .news .news-next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    right: .25%;
    z-index: 9;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0E185F;
    transition: .3s;
}

.container .content .news .news-next:active {
    transform: scale(.8);
    filter: brightness(80%);
}

.container .content .news .news-prev svg {
    margin-left: 22%;
}

.container .content .news .news-next svg {
    margin-left: 25%;
}

.container .content .news .news-item {
    width: 30%;
    position: absolute;
    transition: .3s;
}

.container .content .news .news-item .news-img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9; 
}

.container .content .news .news-item .news-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.container .content .news .news-item .news-text p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: #0E185F;
}

.container .content .news .news-item .news-date p {
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4e4e4e;
    margin-top: 2%;
}
/* End News */

/* Figures */
.container .content .news .figures-prev {
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: .25%;
    z-index: 9;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0E185F;
    transition: .3s;
}

.container .content .news .figures-prev:active {
    transform: scale(.8);
    filter: brightness(80%);
}

.container .content .news .figures-next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    right: .25%;
    z-index: 9;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0E185F;
    transition: .3s;
}

.container .content .news .figures-next:active {
    transform: scale(.8);
    filter: brightness(80%);
}

.container .content .news .figures-prev svg {
    margin-left: 22%;
}

.container .content .news .figures-next svg {
    margin-left: 25%;
}

.container .content .news .figures-item {
    width: 30%;
    position: absolute;
    transition: .3s;
}

.container .content .news .figures-item .news-img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
}

.container .content .news .figures-item .news-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .content .news .figures-item .news-text p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: #0E185F;
}

.container .content .news .figures-item .news-date p {
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4e4e4e;
    margin-top: 2%;
}
/* End of Content */

/* Rector */
.container-rector {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #0E185F;
}

.container-rector .rector-img {
    width: 15%;
    transform: scale(1.3) translateY(15%);
}

.container-rector .rector-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.container-rector .rector-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10%;
    font-size: 20px;
}

.container-rector .rector-text .rector-name {
    margin-top: 10%;
}
/* End Rector */

/* Accreditation */
.accreditation {
    width: 100%;
    margin-top: 15%;
    background-color: #F6F6F6;
    padding: 3%;
    box-sizing: border-box;
}

.accreditation .accred-head {
    margin-bottom: 3%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #0E185F;
    text-align: center;
}

.accreditation .accred-content {
    display: flex;
    justify-content: center;
}

.accreditation .accred-content .accred {
    width: 40%;
    margin: 0 2%;
}

.accreditation .accred-content .accred img {
    width: 100%;
}
/* End Accreditation */

/* Student */
.student {
    width: 100%;
    padding-bottom: 30px;
    box-sizing: border-box;
    background: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.student .student-heading {
    margin: 3% 0;
    text-align: center;
    padding: 1% 2%;
    border-radius: 20px;
    background-color: #FFC21A;
    box-shadow: 5px 8px 0 #0E185F;
}

.student .student-heading  h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 700;
}

.student .student-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.student .student-content .wrapper {
    width: 30%;
    height: 500px;
    margin: 0 2%;
}

.student .student-content .wrapper .button-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
}

.student .student-content .wrapper .button-wrapper button {
    width: 30%;
    padding: 1.5%;
    border: none;
    border-radius: 20px;
    background-color: #0E185F;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 500;
    transition: .3s;
}

.student .student-content .wrapper .button-wrapper button:hover {
    background-color: #0b1249;
    cursor: pointer;
}

.student .student-content .box {
    background-color: #F6F6F6;
    height: 80%;
    overflow: hidden;
    box-shadow: 13px 15px 0 rgba(26, 35, 104, .45);
}

.student .student-content .box .announce-head {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;
    background-color: #0E185F;
    box-sizing: border-box;
}

.student .student-content .box .announce-head h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.student .student-content .box .text-box {
    height: 80%;
}

.student .student-content .box .text-box ul {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.student .student-content .box .text-box ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 2% 5%;
}

/* .student .student-content .box .text-box ul li:hover {
    background-color: #d8d8d8;
} */

.student .student-content .box .text-box ul li .announce-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.student .student-content .box .text-box ul li .announce-date {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-top: 1%;
}

.student .student-content .box-scholarship {
    background-color: #0E185F;
    width: 100%;
    height: 80%;
    box-shadow: 13px 15px 0 rgba(26, 35, 104, .45);
}

.student .student-content .box-scholarship .head-scholarship {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    box-sizing: border-box;
}

.student .student-content .box-scholarship .head-scholarship h3 {
    color: #FFC21A;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.student .student-content .box-scholarship .head-scholarship .scholarship-logo {
    width: 20%;
}

.student .student-content .box-scholarship .head-scholarship .scholarship-logo img {
    width: 100%;
}

.student .student-content .box-scholarship .desc-scholarship {
    width: 100%;
    padding: 0 10%;
    margin-top: 1%;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    line-height: 24px;
    letter-spacing: .25px;
    text-align: center;
}

.student .student-content .box-scholarship .button-scholarship {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

.student .student-content .box-scholarship .button-scholarship button {
    cursor: pointer;
    padding: 1% 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    color: #0b1249;
    background-color: #FFC21A;
    transition: .3s;
}

.student .student-content .box-scholarship .button-scholarship button:hover {
    background-color: #ca9a14;
}

.scholar {
    display: flex;
}

.sm-scholar {
    width: 90%;
    display: none;
    flex-direction: column;
    background-color: #0b1249;
    box-shadow: 13px 15px 0 rgba(26, 35, 104, .45);
    padding-bottom: 4%;
}

.sm-scholar .head-scholarship {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    box-sizing: border-box;
}

.sm-scholar .head-scholarship h3 {
    color: #FFC21A;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.sm-scholar .head-scholarship .scholarship-logo {
    width: 20%;
}

.sm-scholar .head-scholarship .scholarship-logo img {
    width: 100%;
}

.sm-scholar .desc-scholarship {
    width: 100%;
    padding: 0 5%;
    margin-top: 1%;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    line-height: 20px;
    letter-spacing: .25px;
    text-align: center;
    box-sizing: border-box;
}

.sm-scholar .button-scholarship {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

.sm-scholar .button-scholarship button {
    cursor: pointer;
    padding: 1% 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    color: #0b1249;
    background-color: #FFC21A;
    transition: .3s;
}

.sm-scholar .button-scholarship button:hover {
    background-color: #ca9a14;
}


/* Media Query */
@media only screen and (max-width: 1480px){
    .navbar .search {
        display: none;
    }

    .navbar .link .main {
        display: none;
    }

    .open-side {
        display: block;
    }

    .navbar .logo {
        width: 20%;
    }

    .container-rector .rector-text {
        font-size: 15px;
    }

    .student .student-content .box-scholarship .head-scholarship h3 {
        font-size: 30px;
    }

    .student .student-content .box-scholarship .desc-scholarship {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1023px){
    .navbar .logo {
        width: 30%;
    }

    .container .content .heading h3 {
        font-size: 25px;
    }

    .container .content .news {
        padding-left: .7%;
    }

    .container .content .news .news-item {
        width: 47%;
    }

    .container .content .news .figures-item {
        width: 47%;
    }

    .container-rector {
        flex-direction: column;
        align-items: center;
        padding: 20px;  
        box-sizing: border-box;
    }

    .container-rector .rector-img {
        width: 20%;
        height: 30%;
        transform: none;
    }

    .container-rector .rector-text {
        width: 90%;
        margin-top: 5%;
        margin-left: 0;
        text-align: center;
    }

    .container-rector .rector-text .rector-name {
        text-align: left;
        margin-top: 5%;
        line-height: 150%;
        font-size: 13px;
    }

    .accreditation {
        width: 100%;
        margin-top: 12%;
        background-color: #F6F6F6;
        padding: 3%;
        box-sizing: border-box;
    }

    .accreditation .accred-head {
        font-size: 20px;
    }

    .student .student-content .wrapper .button-wrapper button {
        width: 40%;
    }

    .student .student-content .box .text-box ul li .announce-title {
        font-size: 14px;
        font-weight: 600;
    }
    
    .student .student-content .box .text-box ul li .announce-date {
        font-size: 13px;
    }

    .student .student-content .box-scholarship .desc-scholarship {
        line-height: 22px;
    }
}

@media only screen and (max-width: 760px){
    .navbar {
        padding: 5px 2.5vw;
    }

    .container .content .heading h3 {
        font-size: 20px;
        box-shadow: 5px 7px 0 #A6C9E5;

    }

    .container .content .news {
        height: 200px;
    }

    .carousel:hover .btn-prev {
        display: none;
    }
    
    .carousel:hover .btn-next {
        display: none;
    }

    .side-main .side-sub a{
        font-size: 14px;
    }

    .side-main .side-drop li a {
        font-size: 13px;
    }

    .container .content .news .news-item .news-text p {
        font-size: 10px;
        line-height: 16px;
    }

    .container .content .news .news-item .news-date p {
        font-size: 10px;
    }

    .container .content .news .figures-item .news-text p {
        font-size: 10px;
        line-height: 16px;
    }

    .container .content .news .figures-item .news-date p {
        font-size: 10px;
    }

    .container .content .news .news-prev {
        width: 30px;
        height: 30px;
    }
    
    .container .content .news .news-next {
        width: 30px;
        height: 30px;
    }
    
    .container .content .news .figures-prev {
        width: 30px;
        height: 30px;
    }
    
    .container .content .news .figures-next {
        width: 30px;
        height: 30px;
    }

    .container-rector .rector-text {
        font-size: 13px;
    }

    .container-rector .rector-text .rector-name {
        font-size: 10px;
        line-height: 120%;
    }

    .accreditation {
        padding: 5% 0;
    }

    .accreditation .accred-head {
        font-size: 17px;
    }

    .accreditation .accred-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .accreditation .accred-content .accred {
        width: 80%;
        margin: 3% 0;
    }

    .student .student-heading {
        margin: 5% 0;
        text-align: center;
        padding: 2% 4%;
        border-radius: 20px;
        background-color: #FFC21A;
        box-shadow: 5px 8px 0 #0E185F;
    }

    .student .student-heading  h3 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        font-weight: 700;
    }

    .student .student-content .box .announce-head h3 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        font-weight: 500;
    }

    .student .student-content .wrapper .button-wrapper button {
        width: 50%;
        padding: 1.5%;
        border: none;
        border-radius: 20px;
        background-color: #0E185F;
        color: #fff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px;
        font-weight: 500;
        transition: .3s;
    }
    
    .scholar {
        display: none;
    }

    .student .student-content .box .text-box ul li .announce-title {
        font-size: 12px;
        font-weight: 500;
    }

    .student .student-content .box .text-box ul li .announce-date {
        font-size: 9px;
        font-weight: 400;
    }

    .student .student-content .wrapper {
        width: 50%;
        height: 300px;
        margin: 0 2%;
    }

    .sm-scholar {
        display: flex;
    }
}